In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.patches import Arc
import scipy.stats as st 
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px
from IPython.display import Image
%matplotlib inline

In [2]:
csv_files = [
    "earthquake_data_page1.csv",
    "earthquake_data_page2.csv",
    "earthquake_data_page3.csv",
    "earthquake_data_page4.csv",
    "earthquake_data_page5.csv",
    "earthquake_data_page6.csv",
    "earthquake_data_page7.csv",
    "earthquake_data_page8.csv",
    "earthquake_data_page9.csv",
    "earthquake_data_page10.csv",
    "earthquake_data_page11.csv",
    "earthquake_data_page12.csv",
    "earthquake_data_page13.csv"  
]

In [3]:
combined_NGDC_df = pd.DataFrame()

In [4]:
for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    combined_NGDC_df = pd.concat([combined_NGDC_df, df], ignore_index=True)

In [5]:
print (combined_NGDC_df)

         Id  Year  Month  Day  Hour  Minute  Second           Country  \
0      4211  1960      1   13  15.0    40.0    34.0              PERU
1      4213  1960      1   15   9.0    30.0     0.0              PERU
2      4214  1960      2   21   8.0    13.0    31.0           ALGERIA
3      4216  1960      2   29  23.0    40.0    14.0           MOROCCO
4      4220  1960      4   24  12.0    14.0    31.7              IRAN
...     ...   ...    ...  ...   ...     ...     ...               ...
2560  10708  2023     10    7   6.0    41.0     3.0       AFGHANISTAN
2561  10709  2023     10    8  20.0    25.0    23.0             JAPAN
2562  10710  2023     10   11   0.0    41.0    56.0       AFGHANISTAN
2563  10711  2023     10    7   8.0    40.0    13.0  PAPUA NEW GUINEA
2564  10712  2023     10   15   3.0    36.0     0.0       AFGHANISTAN

                                         Location Name  Latitude  Longitude  \
0       PERU:  AREQUIPA,CHUQUIBAMBA,CARAVELI,COTAHUASI   -15.750    -72.750
1     PERU:  LIMA,NAZCA,ICA,HUANCAVELIC,PALPA,HUAITARA   -15.000    -75.000
2                                    ALGERIA:  MELOUZA    36.000      4.100
3                                     MOROCCO:  AGADIR    30.450     -9.620
4                                           IRAN:  LAR    27.814     54.497
...                                                ...       ...        ...
2560                                AFGHANISTAN: HERAT    34.610     61.924
2561                               JAPAN:  IZU ISLANDS    29.707    139.902
2562                                AFGHANISTAN: HERAT    34.557     62.045
2563                         PAPUA NEW GUINEA:  MADANG    -5.507    146.198
2564                                AFGHANISTAN: HERAT    34.609     62.112

      Focal Depth (km)  Mag  MMI Int   Deaths  Injuries  Damage ($Mil)  \
0                160.0  7.8     10.0     63.0     200.0            NaN
1                150.0  7.0      NaN     63.0       NaN            NaN
2                 33.0  5.6      NaN     47.0      88.0            NaN
3                 33.0  5.9     10.0  13100.0   25000.0          120.0
4                 15.0  5.9      7.0    420.0    3000.0           20.0
...                ...  ...      ...      ...       ...            ...
2560              14.0  6.3      NaN   1480.0    1950.0            NaN
2561              10.0  4.9      NaN      NaN       NaN            NaN
2562               9.0  6.3      NaN      3.0     164.0            NaN
2563              76.0  6.9      NaN      NaN       NaN            NaN
2564               6.0  6.3      NaN      4.0     153.0            NaN

      Houses Destroyed
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
...                ...
2560            2862.0
2561               NaN
2562               NaN
2563             200.0
2564               NaN

[2565 rows x 18 columns]

In [6]:
combined_NGDC_df.fillna(0,inplace=True)
cleaned_df = combined_NGDC_df
cleaned_df.isnull().sum()

Id                  0
Year                0
Month               0
Day                 0
Hour                0
Minute              0
Second              0
Country             0
Location Name       0
Latitude            0
Longitude           0
Focal Depth (km)    0
Mag                 0
MMI Int             0
Deaths              0
Injuries            0
Damage ($Mil)       0
Houses Destroyed    0
dtype: int64

In [7]:
cleaned_df.head()

,Id,Year,Month,Day,Hour,Minute,Second,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Injuries,Damage ($Mil),Houses Destroyed
0,4211,1960,1,13,15.0,40.0,34.0,PERU,"PERU: AREQUIPA,CHUQUIBAMBA,CARAVELI,COTAHUASI",-15.750,-72.750,160.0,7.8,10.0,63.0,200.0,0.0,0.0
1,4213,1960,1,15,9.0,30.0,0.0,PERU,"PERU: LIMA,NAZCA,ICA,HUANCAVELIC,PALPA,HUAITARA",-15.000,-75.000,150.0,7.0,0.0,63.0,0.0,0.0,0.0
2,4214,1960,2,21,8.0,13.0,31.0,ALGERIA,ALGERIA: MELOUZA,36.000,4.100,33.0,5.6,0.0,47.0,88.0,0.0,0.0
3,4216,1960,2,29,23.0,40.0,14.0,MOROCCO,MOROCCO: AGADIR,30.450,-9.620,33.0,5.9,10.0,13100.0,25000.0,120.0,0.0
4,4220,1960,4,24,12.0,14.0,31.7,IRAN,IRAN: LAR,27.814,54.497,15.0,5.9,7.0,420.0,3000.0,20.0,0.0

In [ ]:
# cleaned_df.to_csv('combined_NGDC_earthquakes.csv', index=False)

In [13]:
#Top 10 Mass Earthquakes 

Mortality_df = cleaned_df.sort_values(by="Deaths", ascending=False)
Mortality_df.head(10)

,Id,Year,Month,Day,Hour,Minute,Second,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Injuries,Damage ($Mil),Houses Destroyed
1794,8732,2010,1,12,21.0,53.0,10.0,HAITI,HAITI: PORT-AU-PRINCE,18.457,-72.533,13.0,7.0,0.0,316000.0,30000.0,8000.0,97294.0
350,4735,1976,7,27,19.0,42.0,54.6,CHINA,CHINA: NE: TANGSHAN,39.570,117.980,23.0,7.5,11.0,242769.0,799000.0,5600.0,0.0
1627,7843,2008,5,12,6.0,28.0,0.5,CHINA,CHINA: SICHUAN PROVINCE,30.980,103.396,10.0,7.9,9.0,87652.0,374171.0,86000.0,5360000.0
1439,6778,2005,10,8,3.0,50.0,39.1,PAKISTAN,"PAKISTAN: MUZAFFARABAD, URI, ANANTNAG, BARAMULA",34.451,73.649,15.0,7.6,8.0,76213.0,146599.0,6680.0,0.0
207,4531,1970,5,31,20.0,23.0,27.3,PERU,"PERU: NORTHERN, PISCO, CHICLAYO",-9.200,-78.800,43.0,7.9,10.0,66794.0,50000.0,530.0,0.0
2529,10662,2023,2,6,1.0,17.0,35.0,TURKEY,TURKEY; SYRIA,37.166,37.042,17.0,7.8,9.0,56697.0,119200.0,87500.0,542461.0
744,5248,1990,6,20,21.0,0.0,9.9,IRAN,"IRAN: RASHT, QAZVIN, ZANJAN, RUDBAR, MANJIL",36.957,49.409,19.0,7.3,7.0,40000.0,105000.0,7200.0,100000.0
1187,5751,2003,12,26,1.0,56.0,52.4,IRAN,"IRAN: SOUTHEASTERN: BAM, BARAVAT",28.995,58.311,10.0,6.6,9.0,31000.0,30000.0,500.0,0.0
687,5184,1988,12,7,7.0,41.0,24.2,ARMENIA,"ARMENIA: LENINAKAN, SPITAK, KIROVAKAN",40.987,44.185,5.0,6.8,10.0,25000.0,0.0,16200.0,0.0
335,4711,1976,2,4,9.0,1.0,43.4,GUATEMALA,"GUATEMALA: CHIMALTENANGO, GUATEMALA CITY",15.324,-89.101,5.0,7.5,9.0,23000.0,76000.0,2147.0,255000.0

In [15]:
# Top 10 Magnitude Earthquakes

Mortality_Mag_df = cleaned_df.sort_values(by="Mag", ascending=False)
Mortality_Mag_df.head(10)

,Id,Year,Month,Day,Hour,Minute,Second,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Injuries,Damage ($Mil),Houses Destroyed
7,4227,1960,5,22,19.0,11.0,17.0,CHILE,"CHILE: PUERTO MONTT, VALDIVIA",-38.143,-73.407,33.0,9.5,12.0,2000.0,3000.0,1000.000,58622.0
72,4311,1964,3,28,3.0,36.0,0.0,USA,ALASKA,61.017,-147.648,33.0,9.2,10.0,15.0,0.0,284.000,0.0
1254,5823,2004,12,26,0.0,58.0,53.4,INDONESIA,INDONESIA: SUMATRA: ACEH: OFF WEST COAST,3.316,95.854,30.0,9.1,0.0,1001.0,0.0,10000.000,0.0
1868,9799,2011,3,11,5.0,46.0,24.1,JAPAN,JAPAN: HONSHU,38.297,142.372,30.0,9.1,0.0,1475.0,6157.0,4401.709,2473.0
1805,8872,2010,2,27,6.0,34.0,11.5,CHILE,"CHILE: MAULE, CONCEPCION, TALCAHUANO",-36.122,-72.898,23.0,8.8,9.0,402.0,12000.0,30000.000,0.0
85,4337,1965,2,4,5.0,1.0,21.6,USA,ALASKA: ALEUTIAN ISLANDS: RAT ISLANDS,51.290,178.550,36.0,8.7,6.0,0.0,0.0,0.000,0.0
1415,6657,2005,3,28,16.0,9.0,36.5,INDONESIA,INDONESIA: SUMATERA: SW,2.085,97.108,30.0,8.6,0.0,1303.0,340.0,0.000,300.0
1935,9879,2012,4,11,8.0,38.0,36.7,INDONESIA,INDONESIA: N SUMATRA: OFF WEST COAST,2.327,93.063,20.0,8.6,0.0,10.0,12.0,0.000,0.0
66,4304,1963,10,13,5.0,17.0,53.4,RUSSIA,RUSSIA: KURIL ISLANDS,44.770,149.798,13.0,8.5,9.0,0.0,0.0,0.000,0.0
1572,7574,2007,9,12,11.0,10.0,26.8,INDONESIA,INDONESIA: SUMATRA,-4.438,101.367,34.0,8.4,0.0,25.0,161.0,0.000,56425.0

In [16]:
# Top 10 Damage in Millions of $$$

Mortality_Damage_df = cleaned_df.sort_values(by="Damage ($Mil)", ascending=False)
Mortality_Damage_df.head(10)

,Id,Year,Month,Day,Hour,Minute,Second,Country,Location Name,Latitude,Longitude,Focal Depth (km),Mag,MMI Int,Deaths,Injuries,Damage ($Mil),Houses Destroyed
873,5399,1995,1,16,20.0,46.0,53.6,JAPAN,"JAPAN: SW HONSHU: KOBE, AWAJI-SHIMA, NISHINO...",34.590,135.069,17.0,6.9,11.0,6434.0,43792.0,100000.0,186175.0
2529,10662,2023,2,6,1.0,17.0,35.0,TURKEY,TURKEY; SYRIA,37.166,37.042,17.0,7.8,9.0,56697.0,119200.0,87500.0,542461.0
1627,7843,2008,5,12,6.0,28.0,0.5,CHINA,CHINA: SICHUAN PROVINCE,30.980,103.396,10.0,7.9,9.0,87652.0,374171.0,86000.0,5360000.0
850,5372,1994,1,17,12.0,30.0,55.3,USA,CALIFORNIA: NORTHRIDGE,34.213,-118.537,18.0,6.7,9.0,60.0,7000.0,40000.0,40000.0
1805,8872,2010,2,27,6.0,34.0,11.5,CHILE,"CHILE: MAULE, CONCEPCION, TALCAHUANO",-36.122,-72.898,23.0,8.8,9.0,402.0,12000.0,30000.0,0.0
1238,5807,2004,10,23,8.0,56.0,0.8,JAPAN,JAPAN: HONSHU: NIIGATA PREFECTURE,37.226,138.779,16.0,6.6,0.0,40.0,3183.0,28000.0,6000.0
2129,10177,2016,4,15,16.0,25.0,6.2,JAPAN,"JAPAN: KUMAMOTO, OITA",32.791,130.754,10.0,7.0,9.0,50.0,1500.0,20000.0,80000.0
470,4903,1980,11,23,18.0,34.0,53.8,ITALY,"ITALY: AVELLINO, POTENZA, CASERTA, NAPLES",40.914,15.366,20.0,6.9,10.0,4689.0,7700.0,20000.0,0.0
983,5527,1999,8,17,0.0,1.0,39.1,TURKEY,"TURKEY: ISTANBUL, KOCAELI, SAKARYA",40.760,29.970,13.0,7.6,10.0,17118.0,50000.0,20000.0,0.0
687,5184,1988,12,7,7.0,41.0,24.2,ARMENIA,"ARMENIA: LENINAKAN, SPITAK, KIROVAKAN",40.987,44.185,5.0,6.8,10.0,25000.0,0.0,16200.0,0.0